@model Category


<form class="d-flex" method="post">
    <input type="text"  value="@Model.Name" class="form-control col-3 mr-3" placeholder="Category name" disabled/>
    <input type="text"  value="@Model.Color" class="form-control col-3 mr-3" placeholder="Category color " disabled/>
    <input type="submit" value="Delete"  class="btn btn-danger"/>
</form>