@model Category


<form class="d-flex" method="post">
    <input type="text" name="Name" value="@Model.Name" class="form-control col-3 mr-3" placeholder="Category name"/>
    <input type="text" name="Color" value="@Model.Color" class="form-control col-3 mr-3" placeholder="Category color "/>
    <input type="submit" value="Update"  class="btn btn-warning"/>
</form>